---
import Layout from "@layouts/Layout.astro";

import HeroDesktopSection from "./HeroDesktop.astro";

const markdownFile = await Astro.glob("../content/pricing.md");
const { frontmatter } = markdownFile[0];
---

<Layout title={frontmatter.title}>
	<main>
		<HeroDesktopSection textObj={frontmatter.heroSection} class="xl:flex" />
	</main>
</Layout>
