---
import Container from "@components/Container.astro";

import DesktopComparison from "./Comparison.svelte";

const { textObj } = Astro.props;
---

<Container
	class="flex flex-col items-center justify-center pt-24"
	bgColor="bg-[#171717]">
	<div class="w-full xl:flex">
		<DesktopComparison {textObj} client:only="svelte" />
	</div>
</Container>
