---
import Container from "@components/container.astro";

import DesktopFaqs from "./Faqs.svelte";

const { textObj } = Astro.props;
---

<Container
	class="flex flex-col items-center justify-center pt-24"
	bgColor="bg-[#171717]">
	<div class="w-full xl:flex">
		<DesktopFaqs {textObj} client:only="svelte" />
	</div>
</Container>
