---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import CardHelpCenter from "@components/cards/HelpCenter.astro";

import FaqSection from "./FaqSection.svelte";

const markdownFile = await Astro.glob("../content/help-center.md");
const { frontmatter } = markdownFile[0];
---

<Layout title={frontmatter.title}>
	<main>
		<Container
			class="text-basics-white flex flex-col items-start relative"
			bgColor="bg-primary-panther">
			<h1 class="text-primary-coralRed text-5xl 2xl:text-6xl mt-56">
				Help Center
			</h1>
			<div
				class="w-full mt-10 rounded-xl bg-white/5 border border-white/10 relative">
				<div
					class="absolute top-[-125px] w-full h-[250px] rounded-[100%] bg-[radial-gradient(rgba(243,80,89,0.2)_0%,rgba(255,255,255,0.00)_60%)]">
				</div>
				<div
					class="absolute bottom-[-125px] w-full h-[250px] rounded-[100%] bg-[radial-gradient(rgba(243,80,89,0.1)_0%,rgba(255,255,255,0.00)_60%)]">
				</div>
				<div class="flex flex-col p-10">
					<div class="flex gap-6">
						{
							frontmatter.cards.map((card, index) => (
								<CardHelpCenter key={index} {...card} />
							))
						}
					</div>
					<FaqSection list={frontmatter.faqs} client:visible />
				</div>
			</div>
		</Container>
	</main>
</Layout>
