@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Black.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Black.woff') format('woff'),
         url('/fonts/Geist/Geist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Bold.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Bold.woff') format('woff'),
         url('/fonts/Geist/Geist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Light.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Light.woff') format('woff'),
         url('/fonts/Geist/Geist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Medium.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Medium.woff') format('woff'),
         url('/fonts/Geist/Geist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Regular.woff') format('woff'),
         url('/fonts/Geist/Geist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-SemiBold.woff2') format('woff2'),
         url('/fonts/Geist/Geist-SemiBold.woff') format('woff'),
         url('/fonts/Geist/Geist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-Thin.woff2') format('woff2'),
         url('/fonts/Geist/Geist-Thin.woff') format('woff'),
         url('/fonts/Geist/Geist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-UltraBlack.woff2') format('woff2'),
         url('/fonts/Geist/Geist-UltraBlack.woff') format('woff'),
         url('/fonts/Geist/Geist-UltraBlack.ttf') format('truetype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/Geist-UltraLight.woff2') format('woff2'),
         url('/fonts/Geist/Geist-UltraLight.woff') format('woff'),
         url('/fonts/Geist/Geist-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/GeistMono-Bold.woff2') format('woff2'),
         url('/fonts/GeistMono/GeistMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/GeistMono-Light.woff2') format('woff2'),
         url('/fonts/GeistMono/GeistMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/GeistMono-Medium.woff2') format('woff2'),
         url('/fonts/GeistMono/GeistMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/GeistMono-SemiBold.woff2') format('woff2'),
         url('/fonts/GeistMono/GeistMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    @apply font-geist font-medium;
}