---
const { kpi, text, link, linkText } = Astro.props;
---

<div
	class="card border p-10 border-white/10 rounded-xl aspect-[1.115625] flex flex-col justify-between shadow-[0px_0px_30px_0px_rgba(255,255,255,0.20)_inset] relative after:content-[''] after:bg-[url('/assets/gradientOverlayCard.svg')] after:absolute after:top-0 after:right-0 after:w-full after:h-full after:bg-center after:bg-cover after:bg-no-repeat">
	<p class="text-primary-coralRed text-6xl font-medium">{kpi}</p>
	<div class="z-10">
		<p class="text-primary-beige/75 font-extralight opacity-80 mb-2">{text}</p>
		<a
			class="text-primary-coralRed/75 font-extralight opacity-80 cursor-pointer"
			href={link}
			target="_blank">
			Source: {linkText}
		</a>
	</div>
</div>
