---
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

import NumenGamesImage from "@assets/numen-games-logo.jpg";
import NumenGamesLogoImage from "@assets/logo.svg";
---

<Layout title="Numen Games Logos and Usage">
	<!-- <Container>
		<div class="text-center">
			<h1 class="text-4xl lg:text-5xl font-bold mb-4">
				Numen Games Logos and Usage
			</h1>
			<p class="text-lg mb-8">
				We've put together some guidelines for those times when you want to use
				our logos to show off your Numen Games integration or link back to us.
			</p>
		</div>
	</Container>

	<Container>
		<h2 class="text-center text-3xl lg:text-4xl font-bold mb-8">
			Permitted Numen Games logos
		</h2>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:px-40">
			<div
				class="rounded-lg border border-gray-200 p-8 flex flex-col justify-between items-center h-full">
				<div class="flex-grow flex justify-center items-center">
					<Picture
						src={NumenGamesLogoImage}
						class="max-w-[400px]"
						alt="Numen Games Logo"
					/>
				</div>
				<a
					href="https://statics.numinia.xyz/numen-games-logo.zip"
					class="block bg-gray-100 text-black px-4 py-2 rounded-lg shadow mt-4">
					<i class="fas fa-download"></i> Download Numen Games logo
				</a>
			</div>

			<div class="rounded-lg border border-gray-200 p-8 text-center">
				<Picture
					src={NumenGamesImage}
					class="w-full max-w-[200px] mx-auto mb-4"
					alt="Invertocat Logo"
				/>
				<a
					href="https://statics.numinia.xyz/khepri-logo.zip"
					class="block bg-gray-100 text-black px-4 py-2 rounded-lg shadow mt-4">
					<i class="fas fa-download"></i> Download Khepri logo
				</a>
			</div>
		</div>
	</Container>

	<Container>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			<div class="lg:px-12">
				<h2 class="text-xl font-bold mb-4">Do these awesome things</h2>
				<ul class="ml-4">
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">✔️</span>
						Use a permitted Numen Games logo to link to Numen Games.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">✔️</span>
						Use the Numen Games logo as a social button to link to your Numen Games
						profile or project.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">✔️</span>
						Use a permitted Numen Games logo to inform others that your project integrates
						with Numen Games.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">✔️</span>
						Use the Numen Games logo in a blog post or news article about Numen Games.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">✔️</span>
						Use the permitted Numen Games logos less prominently than your own company
						or product name or logo.
					</li>
				</ul>
			</div>

			<div class="lg:px-12">
				<h2 class="text-xl font-bold mb-4">Please don't do these things</h2>
				<ul class="ml-4">
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">❌</span>
						Do not use the Numen Games name or any Numen Games logo in a way that
						suggests you are Numen Games, your offering or project is by Numen Games,
						or that Numen Games is endorsing you or your offering or project.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">❌</span>
						Do not use any Numen Games logo as the icon or logo for your business/organization,
						offering, project, domain name, social media account, or website.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">❌</span>
						Do not modify the permitted Numen Games logos, including changing the
						color, dimensions, or combining with other words or design elements.
					</li>
					<li class="flex items-start mb-4 text-slate-600">
						<span class="mr-2">❌</span>
						Do not use Numen Games trademarks, logos, or artwork without Numen Games
						prior written permission.
					</li>
				</ul>
			</div>
		</div>
	</Container>

	<Container>
		<p class="text-lg lg:text-xl font-bold mb-8">Legal</p>
		<p>
			In short, the Numen Games logos represent only Numen Games and should not
			be used to represent you or your projects, products, or company. You may
			also read the official legal terms if you're into that.
		</p>
	</Container> -->
</Layout>
