---
import Values from "@components/values.astro";
import Purpose from "@components/purpose.astro";
import Mission from "@components/mission.astro";
import BrandKit from "@components/brand-kit.astro";
import Manifesto from "@components/manifesto.astro";
import Layout from "@layouts/LayoutWithFooter.astro";
import KeyMessage from "@components/key-message.astro";
import StrategyPlan from "@components/strategy-plan.astro";
import Hero from "@components/hero-brand-and-culture.astro";
import LegalByDesign from "@components/legal-by-design.astro";
import VerbalIdentity from "@components/verbal-identity.astro";
import StrategyPillars from "@components/strategy-pillars.astro";
import ConsciousnessAndLegacy from "@components/consciousness-and-legacy.astro";
---

<Layout title="Numen Games - Culture">
	<main>
		<Hero />
		<Purpose />
		<Mission />
		<Manifesto />
		<Values />
		<KeyMessage />
		<StrategyPillars />
		<StrategyPlan />
		<ConsciousnessAndLegacy />
		<LegalByDesign />
		<VerbalIdentity />
		<BrandKit />
	</main>
</Layout>
