---
import Layout from "@layouts/Layout.astro";
import DesktopHeroSection from "@components/engagement.astro";
import WorkProcessSection from "@components/desktop/WorkProcessMain.astro";
import DesktopWhyNumenSection from "@components/desktop/WhyNumenMain.astro";
import DesktopServicesSection from "@components/desktop/ServicesMain.astro";
import TestimonialsSection from "@components/desktop/TestimonialsMain.astro";
---

<Layout title="Numen Games - Engagement">
	<main>
		<DesktopHeroSection />
		<!-- <DesktopServicesSection />
		<DesktopWhyNumenSection />
		<WorkProcessSection />
		<TestimonialsSection /> -->
	</main>
</Layout>
