---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="FAQ">
	<Container>
		<h1 class="text-3xl font-bold my-8">FAQ</h1>
		<div class="mx-auto max-w-screen-xl p-4">
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 What is Numen Games?
				</summary>
				<p class="p-4 mt-1">
					Numen Games is a digital entertainment company that creates immersive
					gaming experiences set in the dynamic metaverse of Numinia. Our games
					are designed to challenge players perceptions and offer unique,
					interactive storylines that blend advanced technology with rich
					narrative depth.
				</p>
			</details>
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 What kind of games do you offer?
				</summary>
				<p class="p-4 mt-1">
					We offer a variety of games that include adventure, strategy, and
					role-playing genres. Each game is developed with a focus on deep
					storytelling, engaging gameplay mechanics, and cutting-edge VR and AI
					technologies to enhance the gaming experience.
				</p>
			</details>
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 Can I play your games on any device?
				</summary>
				<p class="p-4 mt-1">
					Our games are designed to be accessible on multiple platforms
					including PC, consoles, and mobile devices. Some games, especially
					those enhanced by VR technology, may require specific hardware to
					experience fully.
				</p>
			</details>
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 How can I purchase or access your games?
				</summary>
				<p class="p-4 mt-1">
					If you want more information about early access or purchase a Numinia
					pass for the 2nd of November, follow up our social networks or join
					our <a href="https://discord.gg/qv6pyYHr" class="text-blue-500 underline underline-offset-2">Discord</a>
				</p>
			</details>
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 Are there any subscription fees or in-game purchases?
				</summary>
				<p class="p-4">
					Some of our games may require a one-time purchase, while others could
					include optional in-game purchases for cosmetic or functional items.
					We also offer premium subscriptions for exclusive content and early
					access to new releases.
				</p>
			</details>
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 How do I get support if I encounter issues with a game?
				</summary>
				<p class="p-4">
					We provide comprehensive support for all our games. If you encounter
					any issues, please visit our support page to submit a ticket, or you
					can contact us directly via email or our customer service chat feature
					on the website.
				</p>
			</details>
			<details
				class="mb-5 bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
				<summary class="cursor-pointer list-none p-4 text-lg hover:bg-gray-200">
					🤔 What steps is Numen Games taking to ensure user privacy and data
					security?
				</summary>
				<p class="p-4">
					User privacy and data security are paramount at Numen Games. We adhere
					to strict data protection regulations and employ advanced security
					measures to protect our users’ information. All data is encrypted, and
					we continually update our security protocols to tackle emerging
					threats.
				</p>
			</details>
		</div>
	</Container>
</Layout>
