---
import Layout from "@layouts/Layout.astro";
import DesktopHeroSection from "@pages/hero/HeroDesktop.astro";
import MobileHeroSection from "@pages/hero/HeroMobile.astro";
import WorkProcessSection from "@pages/hero/WorkProcess.astro";
import DesktopServicesSection from "@pages/hero/Services.astro";
import DesktopWhyNumenSection from "@pages/hero/WhyNumen.astro";
import TestimonialsSection from "@pages/hero/Testimonials.astro";
---

<Layout title="Numen Games">
	<main class="max-w-[1920px] m-auto">
		<DesktopHeroSection class="xl:flex" />
		<MobileHeroSection class="xl:hidden" />
		<DesktopServicesSection />
		<DesktopWhyNumenSection />
		<WorkProcessSection />
		<TestimonialsSection />
	</main>
</Layout>

<!-- <script type="module">
	import { handleClick } from "../utils/analytics.js";

	document
		.getElementById("hero-link")
		.addEventListener("click", function (event) {
			handleClick(event, "Index - Hero CTA Button", "/contact");
		});
</script> -->
