---
import Game from "@components/game.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/footer.astro";
import Partners from "@components/partners.astro";
import Testimonials from "@components/testimonials.astro";
import OfferingSection from "@components/offering-section.astro";
import TrainingBenefits from "@components/training-benefits.astro";
import ScenarioSettings from "@components/scenario-settings.astro";
import HighImpactResults from "@components/high-impact-results.astro";
import GamificationImpact from "@components/gamification-impact.astro";
import CollaborationProcess from "@components/collaboration-process.astro";
---

<Layout title="Numen Games">
	<main>
		<Hero />
		<OfferingSection />
		<ScenarioSettings />
		<HighImpactResults />
		<GamificationImpact />
		<CollaborationProcess />
		<TrainingBenefits />
		<Partners />
		<Testimonials />
		<Footer />
		<Game />
	</main>
</Layout>
