---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="FAQ">
	<Container>
		<h1 class="text-3xl font-bold my-8">Manifesto</h1>
		<div class="mx-auto max-w-screen-xl p-4">
			<p class="mb-4">Numinia believes in the ability of humans to learn through play and the power of games to enrich and improve the quality of human relationships, as well as their inherent necessity to be organized in groups.</p>
      <p class="mb-4">Numinia will focus on the capacity of every individual to make a change through curiosity and creativity, leveling up relations within organizations. We are building a game to work better.</p>
      <p class="mb-4">In order for change to take place we believe that change in organizations is necessary. We believe that the inheritance of the II Industrial Revolution organizations has come to an end and we need to open a new path for digital organizations for humans to thrive. Though we honor what has been learnt in the past, we believe that things can be done differently, putting the focus on the human being and the construction of fairer, stronger relations.</p>
      <p class="mb-4">Numinia supports remix culture.</p>
      <p class="mb-4">Numinia understands art as a driver.</p>
      <p>Numinia believes that humans play to learn.</p>
    </div>
	</Container>
</Layout>
