---
// import Game from "@components/Game.jsx";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero-numinia.astro";
import GamifiedStructure from "@components/gamified-structure.astro";
import LetTheAdventureBegin from "@components/let-the-adventure-begin.astro";
---

<Layout title="Numen Games - Numinia">
	<main>
		<Hero />
		<GamifiedStructure />
		<LetTheAdventureBegin />
		<Footer />
		<!-- <Game url="https://v2.oncyber.io/the_gates_of_numinia" client:load /> -->
	</main>
</Layout>
