---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col lg:flex-row lg:items-center lg:gap-4">
	<div class="text-base font-light flex gap-3 text-white">
		<a href="https://v2.oncyber.io/age_of_ai" target="_blank">
			<button
				class="w-[7.3125rem] h-[2.5rem] p-2 mt-4 bg-basics-white/20 rounded border-tl border hover:bg-basics-white/30 lg:mt-0">
				Try a demo
			</button>
		</a>

		<button
			class="w-[7.3125rem] h-[2.5rem] p-2 mt-4 bg-primary-coralRed rounded hover:bg-primary-darkRed lg:mt-0 form-toggle-button">
			Talk to us
		</button>
	</div>
	<div class="border-l pl-3 p-2 border-basics-white/10">
		<Icon class="w-6 h-6" name="moon-starts" />
	</div>
</div>
