---
import { Icon } from "astro-icon/components";

const { customClass = "" } = Astro.props;
---

<div class={`w-full ${customClass} hidden`}>
	<div
		class="w-full flex flex-col justify-between items-start gap-3 h-full p-6 px-10 bg-white/5 border border-white/10 rounded-lg">
		<div class="flex flex-col h-full">
			<p
				class="text-base font-light leading-[1.2] text-[rgba(255,255,255,0.40)] uppercase font-IBMPlexMono">
				Featured Post
			</p>
			<p
				class="text-2xl font-medium leading-[1.2] tracking-[-0.72px] text-[var(--Basics-White,#FFF)] mt-3">
				Blog title
			</p>
		</div>

		<a href="/404">
			<div
				class="mt-6 z-10 py-3 px-6 text-basics-white bg-basics-white/20 rounded hover:bg-basics-white/30 lg:mt-0">
				Read More
			</div>
		</a>
	</div>
</div>
