---
import Logo from "./Logo.astro";
import StickyHeader from "./StickyHeader.astro";
import MenuListItem from "./MenuListItem.astro";
import ActionButtons from "./ActionButtons.astro";
import DropdownInfoItem from "./DropdownInfoItem.astro";
import DropdownServiceItem from "./DropdownServiceItem.astro";
import DropdownFeaturedItem from "./DropdownFeaturedItem.astro";
---

<div class="fixed z-50 w-full px-10 mx-auto mt-10">
	<StickyHeader
		scrollY={50}
		class="sticky top-0 w-full py-3 bg-white/5 shadow-[0px_0px_20px_0px_rgba(255,255,255,0.15)_inset] backdrop-blur-[25px] rounded-lg border border-white/10"
		activeClass="custom-hidden"
		defaultClass="custom-visible">
		<div class="flex items-center justify-between px-6">
			<Logo />
			<div class="text-base font-normal leading-6 text-center lg:flex">
				<ul
					class="flex flex-col gap-3 text-center lg:flex-row lg:items-center lg:gap-5">
					<MenuListItem label="Services" customClass="service-toggle" />
					<MenuListItem label="Company" customClass="company-toggle" />
					<MenuListItem link="/help-center" label="Help Center" />
					<MenuListItem link="/pricing" label="Pricing" />
					<MenuListItem link="/numinia" label="Numinia" />
				</ul>
			</div>
			<ActionButtons />
		</div>
		<div
			class="hidden items-stretch justify-between gap-6 mt-6 px-6 toggle-div">
			<DropdownServiceItem
				title="EXPERIENCE"
				subtitle="Tailored Gamified Experiences"
				description="We design fully customized gamified experiences to meet specific business objectives."
				link="/experience"
				customClass="services-item"
				icon="game-controller"
				cardImg="/assets/Cone.png"
			/>
			<DropdownServiceItem
				title="TRAINING"
				subtitle="Immersive 3D environments"
				description="Create immersive 3D environments that strengthen your organization's talent retention, values, and culture."
				link="/training"
				customClass="services-item"
				icon="sword"
				cardImg="/assets/spring-1.png"
			/>
			<DropdownServiceItem
				title="ENGAGEMENT"
				subtitle="Engagement service"
				description="We develop immersive 3D environments that transform how your organization retains talent."
				link="/engagement"
				customClass="services-item"
				icon="strategy"
				cardImg="/assets/Burruno.png"
			/>
			<DropdownInfoItem customClass="company-item" />
			<DropdownFeaturedItem
				title="TEST"
				subtitle="Engagement service"
				description="We develop immersive 3D environments that transform how your organization retains talent."
				link="/test"
				customClass="company-item flex-grow"
			/>
		</div>
	</StickyHeader>
</div>

<script>
	let lastClickedElement: Element | null = null;

	const toggleElements = document.querySelectorAll(
		".service-toggle, .company-toggle"
	);
	const toggleDiv = document.querySelector(".toggle-div");

	if (toggleDiv instanceof HTMLElement) {
		const serviceItems =
			toggleDiv.querySelectorAll<HTMLElement>(".services-item");
		const companyItems =
			toggleDiv.querySelectorAll<HTMLElement>(".company-item");

		const toggleDisplay = (
			items: NodeListOf<HTMLElement>,
			displayStyle: string
		) => {
			items.forEach((item) => {
				item.style.display = displayStyle;
			});
		};

		toggleElements.forEach((element) => {
			element.addEventListener("click", () => {
				const isServiceToggle = element.classList.contains("service-toggle");

				if (lastClickedElement === element) {
					toggleDisplay(serviceItems, "none");
					toggleDisplay(companyItems, "none");
					toggleDiv.style.display = "none";
					lastClickedElement = null;
				} else {
					toggleDisplay(serviceItems, isServiceToggle ? "flex" : "none");
					toggleDisplay(companyItems, isServiceToggle ? "none" : "flex");
					toggleDiv.style.display = "flex";
					lastClickedElement = element;
				}
			});
		});

		window.addEventListener("scroll", () => {
			if (window.scrollY > 50) {
				toggleDisplay(serviceItems, "none");
				toggleDisplay(companyItems, "none");
				toggleDiv.style.display = "none";
				lastClickedElement = null;
			}
		});
	}
</script>
