---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center">
	<a href="/" aria-label="Numen Games Home" class="hidden lg:block">
		<Icon name="Logo+nav" class="h-[1.75rem] gap-[3rem]" />
	</a>
	<div class="block lg:hidden">
		<Icon name="Logo+nav" class="h-5 gap-[3rem]" />
	</div>
</div>
