---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center">
	<a href="/" aria-label="Numen Games Home">
		<!-- <Icon class="w-[6.43rem] h-[1.75rem] gap-[3rem]" name="Logo+nav" /> -->
		<img src="/assets/Logo+nav.png" alt="#" class="h-[1.75rem] gap-[3rem]" />
	</a>
	<div class="lg:hidden">
		<!-- <Icon class="w-5 h-5 gap-[3rem]" name="Logo+nav" /> -->
		<img src="/assets/Logo+nav.png" alt="#" class="h-5 gap-[3rem]" />
	</div>
</div>
