---
import { Icon } from "astro-icon/components";

const { label, link, customClass = "" } = Astro.props;
---

<li
	class="text-primary-beige/70 hover:text-primary-beige hover:bg-basics-white/10 py-1 px-3 rounded-md text-base font-light">
	{
		link ? (
			<a href={link}>
				<span>{label}</span>
			</a>
		) : (
			<button class={`flex items-center toggle-experience ${customClass}`}>
				<span>{label}</span>
				<span class="ml-2">
					<Icon class="w-3 h-3 lg:w-4 lg:h-4" name="arrow-down" />
				</span>
			</button>
		)
	}
</li>
