---
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import logoImage from "assets/logo.svg";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Menu",
    path: "/",
    children: [
      { title: "Home", path: "/" },
      { title: "FAQ", path: "/faq" },
      { title: "About us", path: "/about" },
      { title: "Manifesto", path: "/manifesto" },
      { title: "Contact", path: "/contact" },
    ],
  },
  {
    title: "NumenGames",
    path: "/",
  },
  {
    title: "FAQ",
    path: "/faq",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Manifesto",
    path: "/manifesto",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><Picture width="150" src={logoImage} alt="logo"> <!-- TODO: CHECK WHY PIXELATED -->
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <!-- <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div> -->
  </header>
</Container>
