---
import {
	Astronav,
	MenuItems,
	MenuIcon,
	Dropdown,
	DropdownItems,
	DropdownSubmenu,
	StickyHeader,
} from "astro-navbar";
import { Picture } from "astro:assets";

import logoImage from "assets/logo.svg";
---

<StickyHeader
	class="sticky top-0 border-b z-20 transition-all"
	scrollY={40}
	defaultClass="py-5 border-transparent"
	activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg">
	<header class="lg:flex justify-between p-5 gap-5 mx-auto container">
		<Astronav closeOnClick>
			<div class="flex w-full lg:w-auto justify-between">
				<a href="/" class="text-lg flex items-center">
					<Picture width="300" src={logoImage} alt="logo" />
				</a>
				<div class="block lg:hidden">
					<MenuIcon class="w-4 h-4 text-gray-800" />
				</div>
			</div>
			<MenuItems class="hidden lg:flex">
				<ul class="flex flex-col lg:flex-row lg:gap-10">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/faq">FAQ</a>
					</li>
					<li>
						<a href="/about">About us</a>
					</li>
					<li>
						<a href="/manifesto">Manifesto</a>
					</li>
					<li>
						<a href="/lemuria-academy">Lemuria Academy</a>
					</li>
				</ul>
			</MenuItems>
		</Astronav>
	</header>
</StickyHeader>
