---
import {
	Astronav,
	MenuIcon,
	Dropdown,
	MenuItems,
	StickyHeader,
	DropdownItems,
} from "astro-navbar";
import { Icon } from "astro-icon";
import { Picture } from "astro:assets";

import logoImage from "assets/logo.svg";
export { default as ArrowDown } from "../../icons/arrow-down.svg";
---

<StickyHeader
	scrollY={40}
	defaultClass="py-4 border-transparent"
	class="sticky top-0 border-b z-10 transition-all p-4 gap-4 lg:flex justify-between"
	activeClass="py-3 bg-white/80 border-gray-200 backdrop-blur-lg">
	<Astronav closeOnClick>
		<div class="flex w-full lg:w-auto justify-between items-center">
			<a href="/" class="text-lg sm:text-xl lg:text-2xl flex items-center">
				<Picture
					width="140"
					class="w-36 sm:w-44"
					src={logoImage}
					alt="Numen Games logo"
				/>
			</a>
			<div class="flex lg:hidden">
				<MenuIcon class="w-5 h-5 text-gray-800" />
			</div>
		</div>
		<MenuItems class="hidden lg:flex">
			<ul
				class="flex flex-col gap-3 items-end lg:flex-row lg:gap-8 lg:items-center text-base sm:text-lg lg:text-xl">
				<li>
					<a href="/" class="hover:text-gray-800">Home</a>
				</li>
				<!-- <li>
					<Dropdown class="group">
						<button
							class="flex items-center text-base sm:text-lg lg:text-xl"
							aria-haspopup="true"
							aria-expanded="false">
							<span>Services</span>
							<Icon class="h-4 w-4 lg:h-5 lg:w-5" name="arrow-down" />
						</button>
						<DropdownItems class="relative">
							<div
								class="lg:absolute bg-white top-2 w-40 sm:w-44 border shadow rounded p-2 sm:p-3">
								<ul class="text-sm sm:text-base lg:text-lg">
									<li>
										<a href="/pricing" class="hover:text-gray-800">Pricing</a>
									</li>
									<li>
										<a href="/trading" class="hover:text-gray-800">Training</a>
									</li>
									<li>
										<a href="/lemuria-academy" class="hover:text-gray-800"
											>Academy</a
										>
									</li>
								</ul>
							</div>
						</DropdownItems>
					</Dropdown>
				</li> -->
				<li>
					<Dropdown class="group">
						<button
							class="flex items-center text-base sm:text-lg lg:text-xl"
							aria-haspopup="true"
							aria-expanded="false">
							<span>About</span>
							<Icon class="h-4 w-4 lg:h-5 lg:w-5" name="arrow-down" />
						</button>
						<DropdownItems class="relative">
							<div
								class="lg:absolute bg-white top-2 w-40 sm:w-44 border shadow rounded p-2 sm:p-3">
								<ul class="text-sm sm:text-base lg:text-lg">
									<li>
										<a href="/culture" class="hover:text-gray-800"
											>Brand & Culture</a
										>
									</li>
									<li>
										<a href="/team" class="hover:text-gray-800">Team</a>
									</li>
									<li>
										<a href="/faq" class="hover:text-gray-800">FAQ</a>
									</li>
									<!-- <li>
										<a href="/brand-kit" class="hover:text-gray-800"
											>Brand Kit</a
										>
									</li> -->
								</ul>
							</div>
						</DropdownItems>
					</Dropdown>
				</li>
				<li>
					<a href="/numinia" class="hover:text-gray-800">Numinia</a>
				</li>
				<li>
					<a href="/contact">
						<button
							class="mt-4 lg:mt-0 px-6 py-3 sm:px-8 sm:py-4 bg-[#a18a46] text-white rounded hover:bg-[#8b753c] transition-all">
							Talk to us
						</button>
					</a>
				</li>
			</ul>
		</MenuItems>
	</Astronav>
</StickyHeader>
