---
import Link from "./ui/link.astro";
import Container from "./container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-12 text-justify">
	<h2
		class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
		Brand Kit
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl md:py-12">
		Resources to Build and Communicate the Identity of Numen Games
	</p>
	<Link
		id="brand-kit-link"
		size="lg"
		style="custom"
		rel="noopener"
		href="/brand-kit"
		class="px-6 py-3 rounded-lg inline-block">
		Go to Kit
	</Link>
</Container>

<script type="module">
	import { handleClick } from "../utils/analytics.js";

	document
		.getElementById("brand-kit-link")
		.addEventListener("click", function (event) {
			handleClick(event, "Culture - brand-kit CTA Button", "/brand-kit");
		});
</script>
