---
import { Icon } from "astro-icon/components";
---

<div class="w-full rounded-xl bg-white/5 border border-white/10 p-6">
	<Icon name="act" class="h-6 w-6" />
	<div class="mt-8">
		<h6>Contact us</h6>
		<p class="mt-4">
			Let us know how can we help you, we offer 24/7 customer support.
		</p>
		<button>Let's talk</button>
	</div>
</div>
