---
import Icon from "astro-icon";

import Link from "./ui/link.astro";
import Container from "@components/container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-12 pb-8 md:pt-40 md:pb-12">
	<h2
		class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
		How We Collaborate
	</h2>

	<div class="grid lg:grid-cols-3 gap-8 pt-4 pb-8 md:pt-10 md:pb-16">
		<div class="flex items-center flex-col p-8">
			<Icon class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6" name="act" />
			<h4 class="font-bold text-2xl text-center max-w-xs mb-4">Act</h4>
			<p class="text-lg text-slate-500 text-center max-w-xs">
				Provide your requirements and employee persona to help us design a
				solution perfectly suited to your team's needs.
			</p>
		</div>

		<div class="flex items-center flex-col p-8">
			<Icon
				class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
				name="infer"
			/>
			<h4 class="font-bold text-2xl text-center max-w-xs mb-4">Infer</h4>
			<p class="text-lg text-slate-500 text-center max-w-xs">
				We thoroughly assess your needs. Our specialists will evaluate and
				develop tailored simulation solutions designed to align perfectly with
				your employees' skill sets.
			</p>
		</div>

		<div class="flex items-center flex-col p-8">
			<Icon
				class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
				name="serv"
			/>
			<h4 class="font-bold text-2xl text-center max-w-xs mb-4">Serv</h4>
			<p class="text-lg text-slate-500 text-center max-w-xs">
				Receive tailored solutions that meet your goals. Finally, select from
				our diverse range of gamified solutions to enhance and elevate your
				employee training program.
			</p>
		</div>
	</div>
	<div class="mt-6 mb-8 flex justify-center lg:justify-start">
		<Link
			size="lg"
			style="custom"
			rel="noopener"
			href="https://v2.oncyber.io/numen_games"
			class="px-6 py-3 rounded-lg inline-block"
			target="_blank">
			I'm interested
		</Link>
	</div>
</Container>
