---
import { Icon } from "astro-icon";

import Container from "@components/container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-12 pb-8 md:pt-12 md:pb-12">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h3
			class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-8 lg:mb-12">
			Consciousness & Legacy
		</h3>
		<p class="text-center text-lg md:text-xl lg:text-2xl md:pt-12">
			Prosperity and Sustainability. How you want to be remembered?​
		</p>
	</div>
	<div
		class="grid grid-cols-1 lg:grid-cols-2 gap-8 pt-12 md:pt-16 pb-8 md:pb-24 px-4 sm:px-6 lg:px-12">
		<div class="flex flex-col items-center text-center p-6">
			<Icon
				class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
				name="learn"
			/>
			<h4 class="font-bold text-xl lg:text-2xl mb-2">Consciousness</h4>
			<p class="text-base lg:text-lg text-slate-500">
				We are convinced that our generation has the duty to propose new models
				for organizations, more balanced, closer to the human being. We want a
				better world for those who come after us. We wouldn't forgive ourselves
				for not trying. Capitalism with heart has a place in the future,
				prosperity will be the outcome of a happier, more balanced and fairer
				society.
			</p>
		</div>
		<div class="flex flex-col items-center text-center p-6">
			<Icon
				class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
				name="build"
			/>
			<h4 class="font-bold text-xl lg:text-2xl mb-2">Legacy</h4>
			<p class="text-base lg:text-lg text-slate-500">
				In our epitaph you could read, they dreamed and experimented life, they
				imagined and took action. They were part of the fight to change the
				model, they did not let us alone, they built a game with which to create
				a better world.
			</p>
		</div>
	</div>
</Container>
