---
import Link from "./ui/link.astro";
import Container from "@components/Container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-12 text-justify">
	<div class="container flex flex-col justify-center text-center items-center">
		<h2
			class="mb-4 text-3xl md:mb-12 md:text-4xl lg:text-6xl font-bold md:tracking-tight lg:tracking-tighter leading-tight max-w-xs md:max-w-3xl lg:max-w-5xl">
			Contact Us
		</h2>
		<p class="text-center text-lg md:text-xl lg:text-2xl md:py-12">
			Connect with Us to Collaborate and Grow Together
		</p>
		<Link
			id="brand-kit-link"
			size="lg"
			style="custom"
			rel="noopener"
			href="/contact"
			class="px-6 py-3 rounded-lg inline-block">
			Let's talk
		</Link>
	</div>
</Container>
