---
const { class: className, bgColor } = Astro.props;
---

<section class="w-full" style={`background-color: ${bgColor || "transparent"}`}>
	<div
		class:list={[
			"max-w-screen-xl mx-auto px-5 pt-10 pb-6 md:pt-12 md:pb-16",
			className,
		]}>
		<slot />
	</div>
</section>
