---
import Contactform from "@components/ContactForm.astro";

import { Icon } from "astro-icon/components";
import Logo from "./navbar/Logo.astro";
---

<div
	class="fixed hidden w-[calc(100%-80px)] h-[calc(100%-80px)] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-primary-panther rounded-xl z-50"
	id="contactFormContainer">
	<div class="flex flex-col h-full">
		<div class="m-10 flex justify-between">
			<Logo />
			<div
				class="flex items-center justify-center bg-white/10 border rounded-full border-white/20 p-1 cursor-pointer form-toggle-button">
				<Icon class="text-white h-6 w-6" name="x" />
			</div>
		</div>
		<div class="h-full pb-10 flex justify-between mx-10 gap-10">
			<iframe
				src="https://app.spline.design/file/c9b86da0-7c77-4710-9e84-04d7cc6ae33c?view=preview&fullscreen=false"
				class="w-1/2 h-full object-cover relative border border-white/70 rounded-xl shadow-[0px_0px_40px_0px_#FFFFFF66]"
			></iframe>
			<div class="w-1/2 my-8">
				<Contactform />
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("click", ({ target }) => {
		const contactFormContainer = document.getElementById(
			"contactFormContainer"
		);
		if (contactFormContainer) {
			if (target instanceof Element && target.closest(".form-toggle-button")) {
				contactFormContainer.classList.toggle("hidden");
			} else if (!contactFormContainer.contains(target)) {
				contactFormContainer.classList.add("hidden");
			}
		}
	});
</script>
