---
import { Icon } from "astro-icon";
---

<footer
	class="flex flex-col sm:flex-row justify-center items-center align-middle text-center sm:text-left py-4 mt-12 mb-20 space-y-2 sm:space-y-0 sm:space-x-4">
	<div class="flex items-center mr-0 sm:mr-3 text-base sm:text-lg">
		Made with love by the Numen Games team
		<span class="ml-2">
			<Icon class="h-8 w-8 text-red-500" name="heart" />
		</span>
	</div>
	<div
		class="flex flex-wrap justify-center sm:justify-start text-base sm:text-lg">
		<a
			target="_blank"
			href="https://statics.numinia.xyz/terms_and_conditions_2024_05_09.pdf"
			class="mx-2 hover:text-gray-700">
			Terms & Conditions
		</a>
		<span class="mx-1"> - </span>
		<a
			target="_blank"
			href="https://twitter.com/numinia_xyz"
			class="mx-2 hover:text-gray-700">
			Twitter
		</a>
		<span class="mx-1"> - </span>
		<a
			target="_blank"
			href="https://www.linkedin.com/company/93818458/admin/feed/posts/"
			class="mx-2 hover:text-gray-700">
			Linkedin
		</a>
		<span class="mx-1"> - </span>
		<a
			target="_blank"
			href="https://github.com/numengames"
			class="mx-2 hover:text-gray-700">
			Github
		</a>
		<span class="mx-1"> - </span>
		<a
			target="_blank"
			href="https://discord.gg/ASwwdd24pp"
			class="mx-2 hover:text-gray-700">
			Discord
		</a>
	</div>
</footer>
