---
import { Icon } from "astro-icon";
---

<footer class="my-20">
	<p class="flex justify-center items-center">
		Made with love by the NumenGames team<span class="ml-2"
			><Icon class="h-8 w-8" name="heart" /></span>
	</p>
</footer>
