---
import { Icon } from "astro-icon";
---

<footer class="my-20">
	<p class="text-center">
		<a target="_blank" href="https://statics.numinia.xyz/terms_and_conditions_2024_05_09.pdf">
			Terms & Conditions
		</a>
	</p>
	<div>
		<p class="text-center">
			<a target="_blank" href="https://twitter.com/numinia_xyz">
				Twitter
			</a>
			<span> - </span>
			<a target="_blank" href="https://www.linkedin.com/company/93818458/admin/feed/posts/">
				Linkedin
			</a>
			<span> - </span>
			<a target="_blank" href="https://github.com/numengames">
				Github
			</a>
			<span> - </span>
			<a target="_blank" href="https://discord.gg/ASwwdd24pp">
				Discord
			</a>
		</p>
	</div>
	<p class="flex justify-center items-center">
		Made with love by the Numen Games team
		<span class="ml-2">
			<Icon class="h-8 w-8" name="heart" />
		</span>
	</p>
</footer>
