<main
	class="grid lg:grid-cols-1 pt-16 pb-8 md:pt-12 md:pb-24"
	style="height: 760px;">
	<iframe
		class="w-full h-full h-auto px-4"
		src="https://v2.oncyber.io/lemuria_academy_of_numinia"
		allowfullscreen></iframe>
</main>
