---
import { Picture } from "astro:assets";
import overlayOncyber from "assets/overlay-oncyber.png";
---

<section
	class="relative grid lg:grid-cols-1"
	style="height: calc(100vh - 5rem);">
	<div class="absolute z-10 w-32 md:w-64">
		<Picture
			class="w-full h-auto top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 lg:top-0 lg:left-0 lg:translate-x-0 lg:translate-y-0"
			src={overlayOncyber}
			alt="overlay_oncyber"
		/>
	</div>

	<iframe
		id="game"
		class="w-full h-full hidden"
		src="https://v2.oncyber.io/numen_games"
		allowfullscreen></iframe>
</section>

<script>
	const gameComponent = document.getElementById("game");

	window.addEventListener("scroll", () => {
		const scrollPosition = window.scrollY;
		const triggerPoint = 300; // Cambia este valor según cuándo quieres que cargue

		if (scrollPosition > triggerPoint) {
			gameComponent?.classList.remove("hidden");
		}
	});
</script>
