---
import { Picture } from "astro:assets";

import Link from "./ui/link.astro";
import Container from "@components/container.astro";
import BoostsProductivityImage from "assets/boosts-productivity.jpg";
---

<Container
	class="grid lg:grid-cols-2 items-center pt-12 pb-8 md:pt-12 md:pb-12">
	<div class="flex flex-col justify-center md:mr-10">
		<h3
			class="text-3xl lg:text-5xl font-bold tracking-tight mb-6 lg:mb-8 text-center">
			Gamification increases employee productivity by up to 90%
		</h3>
		<p class="text-lg text-slate-600 mb-6">
			Training simulations provide a cutting-edge way to develop employee skills
			and unlock their highest potential. Are you ready to elevate your training
			programs through the power of gamification?
		</p>
		<div class="mt-6 mb-8 flex justify-center lg:justify-start">
			<Link
				id="gamification-impact-link"
				size="lg"
				style="custom"
				rel="noopener"
				href="/contact"
				class="px-6 py-3 rounded-lg inline-block"
				target="_blank">
				Talk to us
			</Link>
		</div>
	</div>
	<Picture
		src={BoostsProductivityImage}
		class="w-full max-w-full mb-6"
		alt="self_paced_training_image"
	/>
</Container>

<script type="module">
	import { handleClick } from "../utils/analytics.js";

	document
		.getElementById("gamification-impact-link")
		.addEventListener("click", function (event) {
			handleClick(event, "Index - gamification-impact CTA Button", "/contact");
		});
</script>
