---
import { Picture } from "astro:assets";
import imageNuminia from "assets/pic.jpg";
import Link from "@components/ui/link.astro";
---

<section class="grid lg:grid-cols-2 pt-16 pb-8 md:pt-12 md:pb-24">
	<Picture
		class="w-max px-4 rounded-md"
		src={imageNuminia}
		alt="image_numinia"
	/>
	<div class="py-6 px-10 md:order-1 hidden md:flex flex-col justify-center">
		<h1
			class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
			Gamified Structural Framework for Organizations
		</h1>
		<div class="mt-6 flex flex-col sm:flex-row gap-3">
			<Link
				size="lg"
				style="outline"
				rel="noopener"
				href="https://v2.oncyber.io/numen_games"
				class="flex gap-1 items-center justify-center"
				target="_blank">
				Play now
			</Link>
		</div>
	</div>
</section>
