---
import { Picture } from "astro:assets";
import Link from "@components/ui/link.astro";
import imageNuminia from "assets/pic.jpg";
---

<main
	class="grid lg:grid-cols-2 pt-16 pb-8 md:pt-12 md:pb-24">
	<Picture class="w-max px-4 rounded" src={imageNuminia} alt="image_numinia" />
	<div class="py-6 md:order-1 hidden md:block">
		<h1
			class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
			Leveling up organizations to build better relationships
		</h1>
		<div class="mt-6 flex flex-col sm:flex-row gap-3">
			<Link
				size="lg"
				style="outline"
				rel="noopener"
				href="https://hyperfy.io/steinersdreams"
				class="flex gap-1 items-center justify-center"
				target="_blank">
				Play now
			</Link>
		</div>
	</div>
</main>
