---
import { Picture } from "astro:assets";

import heroImage from "assets/hero-img.webp";
import Container from "@components/container.astro";
---

<Container
	class="min-h-[calc(70vh-60px)] md:min-h-[70vh] lg:min-h-[70vh] min-w-screen text-black flex flex-col items-center justify-center pt-8 pb-4 md:pt-12 md:pb-12">
	<div class="container flex flex-col justify-center text-center items-center">
		<h2
			class="mb-4 text-3xl md:mb-12 md:text-4xl lg:text-6xl font-bold md:tracking-tight lg:tracking-tighter leading-tight max-w-xs md:max-w-3xl lg:max-w-5xl">
			Boost team skills with immersive 3D gamified learning
		</h2>
		<p class="text-lg md:text-xl lg:text-2xl mb-6 md:mb-12 italic">
			Ready to train your team for success with impossible challenges?
		</p>
		<div class="flex justify-center">
			<a
				href="https://v2.oncyber.io/numen_games"
				target="_blank"
				class="px-8 py-2 md:px-8 md:py-3 border-2 bg-white rounded-lg text-base md:text-lg lg:text-2xl font-semibold hover:bg-purple-100 transition-all">
				Contact us
			</a>
		</div>
	</div>
</Container>

<!-- Image Section -->
<Container>
	<div class="mt-6 md:mt-12 lg:mt-2 w-full px-4 sm:px-0">
		<Picture
			class="w-full h-auto object-cover sm:p-0"
			src={heroImage}
			alt="Hero Image"
		/>
	</div>
</Container>
