---
import Container from "@components/container.astro";
---

<Container
	class="min-h-[calc(50vh-60px)] md:min-h-[50vh] lg:min-h-[50vh] min-w-screen text-black flex flex-col items-center justify-center pt-8 pb-4 md:pt-12 md:pb-12">
	<div class="container flex flex-col justify-center text-center items-center">
		<h2
			class="mb-4 text-3xl md:mb-12 md:text-4xl lg:text-6xl font-bold md:tracking-tight lg:tracking-tighter leading-tight max-w-xs md:max-w-3xl lg:max-w-5xl">
			Engagement Service
		</h2>
		<p class="text-lg md:text-xl lg:text-2xl mb-6 md:mb-12 italic">
			We develop immersive 3D environments that transform how your organization
			retains talent, promotes organizational culture, and reinforces company
			values. Our gamified solutions are designed to make processes like
			onboarding and cultural alignment both engaging and effective.
		</p>
		<div class="flex justify-center">
			<a
				href="/pricing"
				id="hero-link"
				class="px-8 py-2 md:px-8 md:py-3 border-2 bg-white rounded-lg text-base md:text-lg lg:text-2xl font-semibold hover:bg-purple-100 transition-all">
				Pricing
			</a>
		</div>
	</div>
</Container>

<script type="module">
	import { handleClick } from "../utils/analytics.js";

	document
		.getElementById("hero-link")
		.addEventListener("click", function (event) {
			handleClick(event, "Index - Hero CTA Button", "/pricing");
		});
</script>
