---
import { Icon } from "astro-icon";

import Container from "@components/container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-12 pb-8 md:pt-12 md:pb-12">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h3
			class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-8 lg:mb-12">
			High-Impact Gamified Results
		</h3>
		<p class="text-center text-lg md:text-xl lg:text-2xl md:pt-12">
			Immersive environments engage employees with 3D experiences, offering
			curriculum vitae, organizational history, and cultural immersion journeys
		</p>
	</div>
	<div
		class="grid lg:grid-cols-3 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
		<div>
			<div class="flex flex-col items-center text-center p-6">
				<Icon
					class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
					name="cv"
				/>
				<h4 class="text-xl">Curriculum vitae experience</h4>
			</div>
		</div>
		<div>
			<div class="flex flex-col items-center text-center p-6">
				<Icon
					class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
					name="organization-history"
				/>
				<h4 class="text-xl">Organization History</h4>
			</div>
		</div>
		<div>
			<div class="flex flex-col items-center text-center p-6">
				<Icon
					class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
					name="culture"
				/>
				<h4 class="text-xl">Culture Experience</h4>
			</div>
		</div>
	</div>
</Container>
