<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="flex">
    <h1
      class="mb-5 text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Key Messages
    </h1>
  </div>
  <div>
    <p>For proactive agents in organizations</p>
    <p>Who work better while playing</p>
    <p>Numinia is The game</p>
    <p>That remixes knowledge and turns work into a game</p>
    <p>Unlike the old ways of companies</p>
    <p>Numinia enlightens human relationships and growth</p>
  </div>
</main>