---
import Container from "@components/Container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-12 text-justify">
	<h3
		class="mb-5 text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
		Key Messages
	</h3>
	<div class="flex flex-wrap justify-center w-full lg:mt-10">
		<p class="badge">For proactive agents in organizations</p>
		<p class="badge">That remixes knowledge and turns work into a game</p>
		<p class="badge">Who work better while playing</p>
		<p class="badge">Numinia is The game</p>
		<p class="badge">Numinia enlightens human relationships and growth</p>
		<p class="badge">Unlike the old ways of companies</p>
	</div>
</Container>
<style>
	.badge {
		padding: 4px 15px;
		border-radius: 8px;
		margin: 3px;
		color: #475569;
		font-size: 1.1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(213, 218, 218);
	}
</style>
