---
import { Icon } from "astro-icon";
---

<section
	class="grid lg:grid-cols-1 place-items-center pt-12 pb-8 md:pt-12 md:pb-12">
	<div class="container mx-auto">
		<div>
			<h2
				class="text-center mb-5 text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
				How we want to be remembered?
			</h2>
			<!-- <Icon class="h-20 w-20" name="zombie" /> -->
		</div>
		<p class="text-center text-xl">
			In our epitaph you could read, they dreamed and experimented life, they
			imagined and took action. They were part of the fight to change the model,
			they did not let us alone, they built a game with which to create a better
			world.
		</p>
	</div>
</section>
