---
import { Picture } from "astro:assets";
import Container from "@components/container.astro";

import GithubImage from "assets/github-mark.png";
import GithubLogoImage from "assets/GitHub_Logo.png";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-12 text-justify">
	<h2
		class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
		Legal By Design
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl md:pt-12">
		We are 100% Open Source
	</p>
	<a
		href="https://github.com/numengames"
		target="_blank"
		class="flex justify-center items-center gap-6 mt-10">
		<Picture
			class="w-full max-w-[150px] lg:max-w-[120px] m-auto object-cover"
			src={GithubLogoImage}
			alt="GitHub Logo"
		/>
		<Picture
			class="w-full max-w-[50px] lg:max-w-[40px] m-auto object-cover"
			src={GithubImage}
			alt="GitHub Icon"
		/>
	</a>
</Container>
