---
import { Picture } from "astro:assets";

import Link from "./ui/link.astro";
import Container from "@components/container.astro";
import BoostsProductivityImage from "assets/boosts-productivity.jpg";
---

<Container
	class="grid lg:grid-cols-2 items-center pt-12 pb-8 md:pt-12 md:pb-12">
	<div class="flex flex-col justify-center md:mr-10">
		<h3
			class="text-3xl lg:text-5xl font-bold tracking-tight mb-6 lg:mb-8 text-center">
			Let the Adventure Begin
		</h3>
		<p class="text-lg text-slate-600 mb-6">
			Numinia is not just a city; above all, it's the embodiment of a dream.
		</p>
		<p class="text-lg text-slate-600 mb-6">
			This game is the projection of an illusion in subtle space, in the digital
			world. A game of enigmas, missions, and challenges. A portal of portals to
			other dimensions, a space-time gap where reality and fiction, logic, and
			magic mix. A game board where history and myth follow the same path.
		</p>
		<div class="mt-6 mb-8 flex justify-center lg:justify-start">
			<Link
				size="lg"
				style="custom"
				rel="noopener"
				href="https://v2.oncyber.io/numen_games"
				class="px-6 py-3 rounded-lg inline-block"
				target="_blank">
				Play
			</Link>
		</div>
	</div>
	<Picture
		src={BoostsProductivityImage}
		class="w-full max-w-full mb-6"
		alt="self_paced_training_image"
	/>
</Container>
