---
import Container from "./container.astro";
---

<Container
	class="flex flex-wrap justify-around items-center pt-12 pb-8 md:pt-40 md:pb-12">
	<h2
		class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
		Build games to make work better.
	</h2>
</Container>
