---
import { Picture } from "astro:assets";

import Container from "@components/Container.astro";
import SelfPacedTrainingImage from "assets/self-paced-training.webp";
import VirtualExpertGuidedTrainingImage from "assets/virtual-expert-guided-training.webp";
import CollaborativeMultiplayerSkillTrainingImage from "assets/collaborative-multiplayer-skill-training.webp";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-10 pb-6 md:pt-32 md:pb-14">
	<h2
		class="text-center mb-4 text-4xl lg:text-5xl xl:text-6xl font-extrabold lg:tracking-tight xl:tracking-tighter">
		Discover what we offer
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl font-medium md:pt-8">
		High adaptability experiences to different organizational needs
	</p>

	<div class="grid lg:grid-cols-3 gap-6 pt-4 pb-8 md:pt-8 md:pb-16">
		<div class="flex items-center flex-col p-6">
			<Picture
				src={SelfPacedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="self_paced_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Onboarding
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Streamline and energize your onboarding process with immersive 3D
				environments that introduce new hires to your company's culture, values,
				and structure. This results in faster integration and deeper engagement,
				helping employees feel like part of the team from day one.
			</p>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={VirtualExpertGuidedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="virtual_expect_guided_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">Culture</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Create lasting engagement with gamified programs that reinforce your
				organization's core values. Our solutions help strengthen company
				culture over time, ensuring that employees remain connected to your
				mission and values, leading to higher retention and morale.
			</p>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={CollaborativeMultiplayerSkillTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="collaborative_multiplayer_skill_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">Values</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Identify and retain top talent with interactive 3D assessments that
				measure how well candidates and employees align with your company's
				culture and values. Our value-driven assessments ensure a stronger
				cultural fit and long-term success for your team.
			</p>
		</div>
	</div>
</Container>
