---
import { Picture } from "astro:assets";

import Container from "@components/Container.astro";
import SelfPacedTrainingImage from "assets/self-paced-training.webp";
import VirtualExpertGuidedTrainingImage from "assets/virtual-expert-guided-training.webp";
import CollaborativeMultiplayerSkillTrainingImage from "assets/collaborative-multiplayer-skill-training.webp";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-10 pb-6 md:pt-32 md:pb-14">
	<h2
		class="text-center mb-4 text-4xl lg:text-5xl xl:text-6xl font-extrabold lg:tracking-tight xl:tracking-tighter">
		Discover what we offer
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl font-medium md:pt-8">
		High adaptability experiences to different organizational needs
	</p>

	<div class="grid lg:grid-cols-3 gap-6 pt-4 pb-8 md:pt-8 md:pb-16">
		<div class="flex items-center flex-col p-6">
			<Picture
				src={SelfPacedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="self_paced_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Leadership Development Experience
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Enhance leadership abilities across your team with gamified experiences
				that develop decision-making, strategic thinking, and leadership in a
				risk-free, virtual environment. These experiences equip leaders to
				navigate challenges with confidence.
			</p>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={VirtualExpertGuidedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="virtual_expect_guided_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Creative Problem-Solving Workshops
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Boost creativity and innovation within your company through immersive
				problem-solving workshops. Teams collaborate to solve challenges in
				gamified scenarios, strengthening critical thinking and driving
				innovation across departments.
			</p>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={CollaborativeMultiplayerSkillTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="collaborative_multiplayer_skill_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Bespoke Corporate Events
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Create unforgettable corporate events with our personalized gamified
				experiences. From product launches to internal celebrations, we craft
				engaging, purpose-driven events that reinforce your company’s goals
				while delivering a unique and memorable experience.
			</p>
		</div>
	</div>
</Container>
