---
import { Picture } from "astro:assets";

import Container from "@components/container.astro";
import SelfPacedTrainingImage from "assets/self-paced-training.webp";
import VirtualExpertGuidedTrainingImage from "assets/virtual-expert-guided-training.webp";
import CollaborativeMultiplayerSkillTrainingImage from "assets/collaborative-multiplayer-skill-training.webp";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-10 pb-6 md:pt-32 md:pb-14">
	<!-- <h2
		class="text-center mb-4 text-4xl lg:text-5xl xl:text-6xl font-extrabold lg:tracking-tight xl:tracking-tighter">
		Discover what we offer
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl font-medium md:pt-8">
		High adaptability experiences to different organizational needs
	</p>

	<div class="grid lg:grid-cols-3 gap-6 pt-4 pb-8 md:pt-8 md:pb-16">
		<div class="flex items-center flex-col p-6">
			<Picture
				src={SelfPacedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="self_paced_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Single-Player Training
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Our flexible self-paced courses allow your team to learn at their own
				pace, from anywhere, and on their schedule. This format empowers
				employees to stay up-to-date on key skills without disrupting their
				workflow.
			</p>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={VirtualExpertGuidedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="virtual_expect_guided_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Expert-Guided Training
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Engage in live, interactive sessions led by specialized game masters who
				guide your team through real-time scenarios. These virtual training
				experiences are designed to meet the specific needs of your
				organization, ensuring practical and immediate skill development.
			</p>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={CollaborativeMultiplayerSkillTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="collaborative_multiplayer_skill_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Collaborative Skill Training
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm">
				Foster collaboration and skill-building within your teams through
				immersive, multiplayer training environments. Our team-centered
				evaluations focus on improving communication, problem-solving, and
				teamwork in an engaging, interactive setting.
			</p>
		</div>
	</div> -->
</Container>
