---
import { Picture } from "astro:assets";

import Container from "@components/Container.astro";
import SelfPacedTrainingImage from "assets/self-paced-training.webp";
import VirtualExpertGuidedTrainingImage from "assets/virtual-expert-guided-training.webp";
import CollaborativeMultiplayerSkillTrainingImage from "assets/collaborative-multiplayer-skill-training.webp";
import Link from "./ui/link.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-10 pb-6 md:pt-32 md:pb-14">
	<!-- <h2
		class="text-center mb-4 text-4xl lg:text-5xl xl:text-6xl font-extrabold lg:tracking-tight xl:tracking-tighter">
		Discover what we offer
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl font-medium md:pt-8">
		High adaptability experiences to different organizational needs
	</p>

	<div class="grid lg:grid-cols-3 gap-6 pt-4 pb-8 md:pt-8 md:pb-16">
		<div class="flex items-center flex-col p-6">
			<Picture
				src={SelfPacedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="self_paced_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">Engage</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm mb-4">
				Create immersive 3D environments that strengthen your organization's
				talent retention, values, and culture. Our gamified solutions ensure
				that processes like onboarding are both effective and engaging, helping
				to build a cohesive and motivated workforce.
			</p>
			<a class="text-slate-500 italic" href="/engagement">Learn more...</a>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={VirtualExpertGuidedTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="virtual_expect_guided_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">Training</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm mb-4">
				Receive expert-led training tailored to your team's unique challenges.
				From cybersecurity, like phishing protection, to skill development in
				key areas, our specialized programs provide the tools your team needs to
				stay ahead and compliant.
			</p>
			<a class="text-slate-500 italic" href="/training">Learn more...</a>
		</div>

		<div class="flex items-center flex-col p-6">
			<Picture
				src={CollaborativeMultiplayerSkillTrainingImage}
				class="w-full max-w-sm mb-6"
				alt="collaborative_multiplayer_skill_training_image"
			/>
			<h4 class="font-semibold text-2xl text-center max-w-sm mb-4">
				Experience
			</h4>
			<p class="text-lg font-regular text-slate-500 text-center max-w-sm mb-4">
				We design fully customized gamified experiences that align with your
				organization's goals. Whether it's enhancing leadership development or
				creating a unique personal event—such as a custom proposal—our
				experiences deliver lasting impact and engagement.
			</p>
			<a class="text-slate-500 italic" href="/experience">Learn more...</a>
		</div>
	</div> -->
</Container>
