---
import Icon from "astro-icon";
import { Picture } from "astro:assets";

import Container from "./container.astro";
import ActiveInferenceInstituteImage from "assets/active-inference-institute.png";
---

<Container
	class="flex flex-wrap justify-around items-center pt-12 pb-8 md:pt-40 md:pb-12">
	<h2
		class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
		We work with
	</h2>
	<div class="flex flex-wrap justify-around items-center w-full gap-8">
		<!-- A Digital -->
		<a
			href="https://www.adigital.org"
			target="_blank"
			rel="noopener noreferrer">
			<Icon
				class="w-full aspect-square max-w-[117px] max-h-[117px] sm:max-w-[135px] sm:max-h-[135px] lg:max-w-[144px] lg:max-h-[144px] object-contain"
				name="adigital"
			/>
		</a>
		<!-- Oncyber -->
		<a href="https://www.oncyber.io" target="_blank" rel="noopener noreferrer">
			<Icon
				class="w-full aspect-square max-w-[54px] max-h-[54px] sm:max-w-[63px] sm:max-h-[63px] lg:max-w-[72px] lg:max-h-[72px] object-contain"
				name="oncyber"
			/>
		</a>
		<!-- Active Inference Institute -->
		<a
			href="https://www.activeinference.org"
			target="_blank"
			rel="noopener noreferrer">
			<Picture
				src={ActiveInferenceInstituteImage}
				class="w-full aspect-square max-w-[54px] max-h-[54px] sm:max-w-[63px] sm:max-h-[63px] lg:max-w-[72px] lg:max-h-[72px] object-contain"
				alt="self_paced_training_image"
			/>
		</a>
		<!-- ATH21 -->
		<a href="https://www.ath21.com" target="_blank" rel="noopener noreferrer">
			<Icon
				class="w-full aspect-square max-w-[54px] max-h-[54px] sm:max-w-[63px] sm:max-h-[63px] lg:max-w-[72px] lg:max-h-[72px] object-contain"
				name="ath21"
			/>
		</a>
		<!-- ArtUnchained -->
		<a
			href="https://www.art-unchained.io/"
			target="_blank"
			rel="noopener noreferrer">
			<Icon
				class="w-full aspect-square max-w-[153px] max-h-[153px] sm:max-w-[171px] sm:max-h-[171px] lg:max-w-[189px] lg:max-h-[189px] object-contain"
				name="art-unchained"
			/>
		</a>
		<!-- Hyperfy -->
		<a href="https://www.hyperfy.io" target="_blank" rel="noopener noreferrer">
			<Icon
				class="w-full aspect-square max-w-[105px] max-h-[105px] sm:max-w-[121px] sm:max-h-[121px] lg:max-w-[130px] lg:max-h-[130px] object-contain"
				name="hyperfy"
			/>
		</a>
	</div>
</Container>
