---
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">Build organizations that elevate lives</h1>
  <div class="flex">
    <Icon class="h-60 w-60" name="khepri" />
  </div>
</main>