---
import { Icon } from "astro-icon/components";
import Link from "./ui/link.astro";

import Container from "@components/Container.astro";
---

<Container class="pt-10 pb-6 md:pt-20 md:pb-16">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h3
			class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-6 lg:mb-12">
			Boosting Engagement and Culture
		</h3>
		<p class="text-center text-base md:text-lg lg:text-xl md:pt-8">
			Supporting HR, Organizational Development, and Corporate Culture Teams.
		</p>
	</div>
	<p class="text-center text-base md:text-lg lg:text-xl md:pt-8">
		Our engagement services empower key departments like HR and Organizational
		Development to build deeper connections with employees. By leveraging
		immersive 3D environments, we drive employee retention and ensure alignment
		with company values.
	</p>
	<p class="text-center text-base md:text-lg lg:text-xl md:pt-8 md:pb-10">
		These solutions help organizations create lasting cultural impact, ensuring
		that employees are not only engaged but fully integrated into a shared
		vision.
	</p>
	<div class="flex justify-center">
		<Link
			id="brand-kit-link"
			size="lg"
			style="custom"
			rel="noopener"
			href="/pricing"
			class="px-6 py-3 rounded-lg">
			Pricing
		</Link>
	</div>
</Container>
