---
import { Icon } from "astro-icon/components";
import Link from "./ui/link.astro";

import Container from "@components/Container.astro";
---

<Container class="pt-10 pb-6 md:pt-20 md:pb-16">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h3
			class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-6 lg:mb-12">
			Empowering Teams with Tailored Training
		</h3>
		<p class="text-center text-base md:text-lg lg:text-xl md:pt-8">
			Optimized Solutions for Technology, Cybersecurity, Compliance, and
			Learning & Development
		</p>
	</div>
	<p class="text-center text-base md:text-lg lg:text-xl md:pt-8">
		Our training services are designed to meet the specific needs of departments
		that demand precision and continuous skill development. Whether your team is
		focused on technology, cybersecurity, compliance, or employee development,
		our customized training programs ensure that they stay ahead in critical
		areas.
	</p>
	<p class="text-center text-base md:text-lg lg:text-xl md:pt-8 md:pb-10">
		With a mix of self-paced learning, expert-led sessions, and collaborative
		training, we help organizations equip their teams with the tools and
		knowledge needed to navigate challenges and drive success.
	</p>
	<div class="flex justify-center">
		<Link
			id="brand-kit-link"
			size="lg"
			style="custom"
			rel="noopener"
			href="/pricing"
			class="px-6 py-3 rounded-lg">
			Pricing
		</Link>
	</div>
</Container>
