---
import { Icon } from "astro-icon/components";

import Container from "@components/container.astro";
---

<Container class="pt-10 pb-6 md:pt-20 md:pb-16">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h3
			class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-6 lg:mb-12">
			Custom Scenario Settings
		</h3>
		<p class="text-center text-base md:text-lg lg:text-xl md:pt-8">
			A tailored set of requirements crafted to perfectly align with your
			specific goals and objectives.
		</p>
	</div>
	<div
		class="grid grid-cols-1 lg:grid-cols-2 gap-6 pt-10 md:pt-14 pb-6 md:pb-20 px-4 sm:px-6 lg:px-12">
		<div class="flex flex-col items-center text-center p-4">
			<Icon
				class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
				name="learn"
			/>
			<h4 class="font-bold text-lg md:text-xl lg:text-2xl mb-2">Learn</h4>
			<p class="text-base lg:text-lg text-slate-500 max-w-md">
				Gain insights and knowledge through engaging, interactive learning
				experiences.
			</p>
		</div>
		<div class="flex flex-col items-center text-center p-4">
			<Icon
				class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
				name="build"
			/>
			<h4 class="font-bold text-lg md:text-xl lg:text-2xl mb-2">Build</h4>
			<p class="text-base lg:text-lg text-slate-500 max-w-md">
				Explore our extensive range of ready-to-use gamified simulations, with
				customization options for a truly tailored experience, designed to
				captivate and deliver impactful results.
			</p>
		</div>
	</div>
</Container>
