---
import { Picture } from "astro:assets";

import Container from "@components/container.astro";
import StrategyPlanImage from "assets/strategy-plan.webp";
---

<Container
	class="flex flex-col lg:flex-row items-center pt-12 pb-8 md:pt-12 md:pb-12 lg:gap-16">
	<div class="flex-1 lg:flex-[1.3]">
		<Picture
			src={StrategyPlanImage}
			class="w-full object-cover mb-6 lg:mb-0"
			alt="self_paced_training_image"
		/>
	</div>
	<div class="flex-1 flex flex-col justify-center text-center lg:ml-8">
		<h3
			class="text-3xl lg:text-5xl font-bold tracking-tight mb-6 lg:mb-8 text-center">
			Strategy Plan
		</h3>
		<p class="text-lg text-slate-600 mb-6 text-left">
			Numen Games aim to create a decentralized, living internet where players
			engage in a gamified structural framework that blends education,
			exploration, and creative collaboration. Organized into distinct districts
			aligned with specialized factions, Numinia leverages the power of
			decentralized knowledge and continuous innovation to keep the experience
			fresh and engaging. This strategy fosters a community where players are
			not just participants but co-creators of an ever-evolving narrative,
			ensuring that Numinia remains a cutting-edge and inclusive space for
			learning and adventure
		</p>
	</div>
</Container>
