---
import { Icon } from "astro-icon/components";

import Container from "@components/container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-12 text-justify">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h3
			class="text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight mb-8 lg:mb-12">
			Pillars
		</h3>
		<p class="text-center text-lg md:text-xl lg:text-2xl">
			This is what we consider in every decision
		</p>
	</div>
	<div class="grid lg:grid-cols-3 place-items-center pt-16 md:pt-12">
		<div>
			<div class="flex flex-col items-center text-center p-6">
				<Icon
					class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
					name="art-driver"
				/>
				<h4 class="text-xl">Craft</h4>
				<h5 class="text">Art as a driver</h5>
			</div>
		</div>
		<div>
			<div class="flex flex-col items-center text-center p-6">
				<Icon
					class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
					name="play-to-learn"
				/>
				<h4 class="text-xl">Learn</h4>
				<h5 class="text">Humans play to learn.</h5>
			</div>
		</div>
		<div>
			<div class="flex flex-col items-center text-center p-6">
				<Icon
					class="h-16 w-16 sm:h-20 sm:w-20 lg:h-24 lg:w-24 mb-6"
					name="copy-and-make-better"
				/>
				<h4 class="text-xl">Remix</h4>
				<h5 class="text">Feel free to copy it and make it better.</h5>
			</div>
		</div>
	</div>
</Container>
