---
import { Picture } from "astro:assets";

import Punk6529Image from "assets/6529.png";
import YuKaiChouImage from "assets/yu-kai-chou.png";
import Container from "@components/container.astro";
import JaneMcGonigalImage from "assets/jane-mcgonigal.png";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pt-12 pb-8 md:pt-12 md:pb-12">
	<div
		class="flex flex-col justify-center items-center text-center px-4 sm:px-6 lg:px-12">
		<h2
			class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
			Inspirational quotes
		</h2>
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 w-full">
			<div
				class="relative w-full p-6 bg-white rounded-lg shadow-lg transform transition duration-500 hover:scale-105 my-16">
				<p class="text-xl text-gray-700 mb-4">
					"On A Pathway To An Open Metaverse. We are going to make a run at
					changing the arc of history. It is a Return of the Jedi vs the Death
					Star style mission. They have the money and the power. We mostly have
					our brains, our community and gm. But it might be just enough."
				</p>
				<a
					href="https://x.com/punk6529/status/1445468399656595456"
					target="_blank">
					<div class="flex items-center justify-end">
						<div class="text-right">
							<p class="text-sm font-bold">Punk 6529</p>
							<p class="text-xs text-gray-500">Open Metaverse Defender</p>
						</div>
						<Picture
							src={Punk6529Image}
							class="w-12 h-12 rounded-full ml-4"
							alt="Punk 6529"
						/>
					</div>
				</a>
			</div>
			<div
				class="relative w-full p-6 bg-white rounded-lg shadow-lg transform transition duration-500 hover:scale-105 my-16">
				<p class="text-xl text-gray-700 mb-4">
					"I think these are the timelines we need to be looking at - the
					one-hundred- or two-hundrd-year horizons. Because most of the really
					bad stuff that's happening right now is the result of very short-term
					thinking."
				</p>
				<a
					href="https://x.com/punk6529/status/1445468399656595456"
					target="_blank">
					<div class="flex items-center justify-end">
						<div class="text-right">
							<p class="text-sm font-bold">Jane McGonigal</p>
							<p class="text-xs text-gray-500">Game developer</p>
						</div>
						<Picture
							src={JaneMcGonigalImage}
							class="w-12 h-12 rounded-full ml-4"
							alt="Jane McGonigal"
						/>
					</div>
				</a>
			</div>
			<div
				class="relative w-full p-6 bg-white rounded-lg shadow-lg transform transition duration-500 hover:scale-105 my-16">
				<p class="text-xl text-gray-700 mb-4">
					"Human-focused design is a journey into the soul of the user. You're
					not just solving problems-you're touching lives, shaping futures,
					creating magic."
				</p>
				<a href="https://yukaichou.com/" target="_blank">
					<div class="flex items-center justify-end">
						<div class="text-right">
							<p class="text-sm font-bold">Yu-kai Chou</p>
							<p class="text-xs text-gray-500">Gamification Expert</p>
						</div>
						<Picture
							src={YuKaiChouImage}
							class="w-12 h-12 rounded-full ml-4"
							alt="Yu-kai Chou"
						/>
					</div>
				</a>
			</div>
		</div>
	</div>
</Container>
