---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Cosmic Harmony",
    description:
      "Numinians serve and balance life, guided by actions with purpose, ensuring prosperity for all.",
    icon: "cosmic-harmony",
  },
  {
    title: "Equable",
    description:
      "For Numinians fairness shapes every decision, fostering reality, unity, and constructive honesty.",
    icon: "equable",
  },
  {
    title: "Curiosity",
    description:
      "Numinians like to be selfaware, actively inferring to minimize the surprise, exploring beyond the familiar territories, we learn by doing.",
    icon: "curiosity",
  },
  {
    title: "Healthy Enviroments",
    description:
      "Numinians forge enduring relations and creations, nurturing the public good; Sustainability guides our steps.",
    icon: "healty-environment",
  },
];
---

<div class="mt-16 md:mt-0">
  <h3 class="text-center text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Values and Principles
  </h3>
  <p class="text-center text-lg mt-4 text-slate-600">
    We champion this values, to craft a gaming experience that's not only sustainable but deeply connects and resonates with our users.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-14 h-14 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
