---
import Container from "@components/Container.astro";
---

<Container
	class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-12 text-justify">
	<h2
		class="text-center mb-5 text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
		Verbal Identity
	</h2>
	<p class="text-center text-lg md:text-xl lg:text-2xl md:pt-12">
		Technology and Humanity
	</p>
	<p>
		Numen Games verbal identity merges precision with a touch of fantasy. “We
		Build”. Our linguistic approach aims to be plain and clear, like in a comic,
		so it's fully understood. We avoid technicisms when possible, and as senders
		we craft the words of the message until we reach the receivers.
	</p>

	<div class="grid lg:grid-cols-3 gap-8 pt-4 pb-8 md:pt-10 md:pb-16">
		<div class="flex items-center flex-col p-8">
			<h4 class="font-bold text-2xl text-center max-w-xs mb-4">
				Precision meets playfulness
			</h4>
			<p class="text-lg text-slate-500 text-center max-w-xs">
				Building Bridges, Not Walls.
			</p>
		</div>

		<div class="flex items-center flex-col p-8">
			<h4 class="font-bold text-2xl text-center max-w-xs mb-4">
				Innovation with a human touch​
			</h4>
			<p class="text-lg text-slate-500 text-center max-w-xs">
				Every Word is a Step Towards Change.​
			</p>
		</div>

		<div class="flex items-center flex-col p-8">
			<h4 class="font-bold text-2xl text-center max-w-xs mb-4">
				Numen Games voice​
			</h4>
			<p class="text-lg text-slate-500 text-center max-w-xs">
				Cultivated, Plain and clear.​
			</p>
		</div>
	</div>
</Container>
