---
const { class: className } = Astro.props;

import Container from "@components/Container.astro";
import HeroAnimation from "@components/HeroAnimation.astro";

import BracketedContent from "@components/BracketedContent.svelte";
---

<Container
	class:list={["flex-col items-start relative flex px-4", className]}
	bgColor="bg-primary-panther">
	<div
		class="flex flex-col justify-between items-center w-full mt-24 pb-24 z-10 relative">
		<aside class="w-[60%] mb-3">
			<BracketedContent
				text="THREE.JS, WEB3, DIGITAL AGENTS, 3D INTERNET, BLOCKCHAIN, VIRTUAL REALITY, AUGMENTED REALITY"
				isAnimate={true}
			/>
		</aside>
		<h1 class="px-3 text-3xl font-medium text-center text-primary-beige mb-3">
			<span>Boost</span>
			<span class="text-primary-coralRed">team</span>
			<span>skills with immersive 3D gamified experience</span>
		</h1>
		<p class="text-center text-sm font-[84] text-primary-beige/75 z-10">
			We don’t just create 3D environments; we build immersive, scalable
			learning and training experiences that help organizations improve
			efficiency, outcomes, and stakeholder engagement.
		</p>
		<button
			class="text-primary-beige py-3 px-5 mt-[100vw] text-xs font-light rounded-lg hover:bg-primary-darkRed/10 z-10"
			style="border: 0.3px solid #f35059; box-shadow: 0 0 20px 0 #f35059;">
			Ready to talk?
		</button>
		<div class="absolute bottom-0 flex justify-center items-center w-full">
			<HeroAnimation />
		</div>
	</div>
</Container>
