---
import Container from "@components/Container.astro";
---

<Container
	class="text-basics-white h-screen flex flex-col items-start relative"
	bgColor="bg-primary-panther">
	<div class="flex flex-col justify-between w-full mt-36 mb-20 flex-grow z-10">
		<div class="flex justify-between">
			<h1
				class="text-6xl leading-tight 2xl:text-7xl 2xl:leading-tight font-medium tracking-[-0.03em] text-left text-primary-beige">
				<span>Accelerate</span>
				<span class="block">
					<span class="text-primary-coralRed">Growth</span>
					<span>with</span>
				</span>
			</h1>
			<aside>
				<div
					class="flex items-center gap-1.5 tracking-[0.1em] font-light font-IBMPlexMono">
					<span class="text-primary-coralRed text-lg 2xl:text-xl">[</span>
					<span class="text-xs 2xl:text-base text-primary-beige"
						>THREE.JS, WEB3, WEB2, THREE.JS, WEB</span
					>
					<span class="text-primary-coralRed text-lg 2xl:text-xl">]</span>
				</div>
			</aside>
		</div>

		<div class="flex justify-between items-end">
			<p
				class="text-base w-[40vw] 2xl:text-xl font-[84] text-left text-primary-beige">
				We don’t just create 3D environments; we build immersive, scalable
				learning and training experiences that help organizations improve
				efficiency, outcomes, and stakeholder engagement.
			</p>
			<div>
				<h2
					class="text-6xl leading-tight 2xl:text-7xl 2xl:leading-tight font-medium tracking-[-0.03em] text-right text-primary-beige">
					<span class="text-primary-coralRed">immersive 3D</span><br />
					gamified learning
				</h2>
			</div>
		</div>

		<div class="flex justify-center items-center md:hidden">
			<p
				class="text-[2rem] font-medium leading-[2.4rem] text-center text-primary-beige">
				Boost team skills with immersive 3D gamified experience
			</p>
		</div>
	</div>

	<div class="absolute inset-0 flex justify-center items-center">
		<div class="relative">
			<div
				class="w-44 h-44 rounded-full flex justify-center items-center bg-gradient-to-b from-primary-panther via-red-500 to-primary-panther">
				<button
					class="text-basics-white py-2 px-4 rounded-full hover:bg-primary-darkRed">
					Click Me
				</button>
			</div>
		</div>
	</div>
</Container>
