---
const { class: className } = Astro.props;

import Container from "@components/Container.astro";
import HeroAnimation from "@components/HeroAnimation.astro";

import PulseAnimatedBtn from "@components/PulseAnimatedBtn.svelte";
import BracketedContent from "@components/BracketedContent.svelte";
---

<Container
	class:list={["h-screen flex-col items-start relative hidden", className]}
	bgColor="bg-primary-panther">
	<div class="flex flex-col justify-between w-full mt-36 mb-20 flex-grow z-10">
		<div class="flex justify-between">
			<h1
				class="text-6xl leading-tight 2xl:text-7xl 2xl:leading-tight font-medium tracking-[-0.03em] text-left text-primary-beige"
				data-aos="fade-right">
				<span>Boost</span>
				<span class="text-primary-coralRed">Growth</span>
				<span class="block">
					<span>through interactive</span>
				</span>
			</h1>
			<aside data-aos="fade-left" data-aos-delay="200" class="w-[25%]">
				<BracketedContent
					text="THREE.JS, WEB3, DIGITAL AGENTS, 3D INTERNET, BLOCKCHAIN, VIRTUAL REALITY, AUGMENTED REALITY"
					isAnimate={true}
				/>
			</aside>
		</div>

		<div class="flex justify-between items-end">
			<p
				class="text-base w-[30vw] 3xl:w-[35vw] 2xl:text-xl 3xl:text-2xl font-[84] text-justify text-primary-beige/75"
				data-aos="fade-right"
				data-aos-delay="400">
				We craft immersive, scalable learning and training experiences that
				drive efficiency, enhance outcomes and amplify stakeholder engagement.
				All brought to life in dynamic 3D environments.
			</p>
			<div>
				<h2
					class="text-6xl leading-tight 2xl:text-7xl 2xl:leading-tight font-medium tracking-[-0.03em] text-right text-primary-beige"
					data-aos="fade-left"
					data-aos-delay="600">
					<span class="text-primary-coralRed">immersive 3D</span><br />
					gamified learning
				</h2>
			</div>
		</div>

		<div class="flex justify-center items-center md:hidden">
			<p
				class="text-[2rem] font-medium leading-[2.4rem] text-center text-primary-beige">
				Boost team skills with immersive 3D gamified experience
			</p>
		</div>
	</div>

	<div class="absolute inset-0 flex justify-center items-center z-10">
		<div class="relative">
			<PulseAnimatedBtn
				className="top-24 form-toggle-button"
				text="Ready to Talk"
			/>
		</div>
	</div>

	<div
		class="absolute inset-0 flex justify-center items-center w-[100vw] h-[100vh]">
		<HeroAnimation />
	</div>
</Container>
