---
import Container from "@components/container.astro";

import ServicesDesktopContainer from "./ServicesDesktop.svelte";
import ServicesMobileContainer from "./ServicesMobile.svelte";
---

<Container
	class="flex flex-col items-center justify-center pt-24 xl:pt-28"
	bgColor="bg-primary-panther">
	<div class="xl:flex"><ServicesDesktopContainer client:only="svelte" /></div>
	<!-- <div class="xl:hidden"><ServicesMobileContainer client:only="svelte" /></div> -->
</Container>
