---
import Layout from "@layouts/Layout.astro";

import AboutSection from "./About.astro";
import GallerySection from "./Gallery.astro";
import HeroDesktopSection from "./HeroDesktop.astro";

const markdownFile = await Astro.glob("./content/numinia.md");
const { frontmatter } = markdownFile[0];
---

<Layout title={frontmatter.title}>
	<main>
		<HeroDesktopSection textObj={frontmatter.heroSection} />
		<AboutSection textObj={frontmatter.aboutSection} />
		<GallerySection textObj={frontmatter.gallerySection} />
	</main>
</Layout>
